# --- 기본 라이브러리 ---
streamlit
pandas
numpy
matplotlib
seaborn
plotly
wordcloud
requests
aiohttp
beautifulsoup4

# --- AI/LLM ---
openai
google-generativeai
sentence-transformers
langchain
langchain-community
langchain-openai
langchain-pinecone
langchain-huggingface

# --- 금융 관련 ---
finance-datareader==0.9.96
koreanize-matplotlib
reportlab

# --- Streamlit 부가 기능 ---
streamlit-searchbox
streamlit-textcomplete

# --- 기타 ---
loguru
